<div class="hero-wrap">	
	<div class="hero-bg hero-landing" style="background-image: url({{ TimberImage(post.get_field('imagem_fundo')).src }});">
		<div class="container">
			<h1 class="hero-title">
				{{ post.title }}
			</h1>

            {% if post.video_principal %}
                <div class="hero-intro responsive-video">
                    {{ function('getEmbedLinkYoutube', post.video_principal) }}
                </div>
            {% elseif post.imagem_principal %}
                <div class="hero-intro responsive-video">
                    <img src="{{ TimberImage(post.get_field('imagem_principal')).src|resize(954, 550, 'center') }}" alt="{{ post.title }}" />
                </div>
            {% endif %}
		</div>
	</div>
</div>