<div id="carousel-landing" class="carousel carousel-landing slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators large">
    <li data-target="#carousel-landing" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-landing" data-slide-to="1"></li>
    <li data-target="#carousel-landing" data-slide-to="2"></li>
  </ol>

  <div class="carousel-bg">
    <div class="container">
      <h2 class="carousel-title">Clientes</h2>
      <p class="carousel-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque numquam sint 
        quae id suscipit doloremque, culpa molestiae fugit laudantium! Deleniti?
      </p>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">

          <ul class="carousel-clients-list">
            <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-noticias-acre.png" alt="marca noticias acre"></li>
            <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-rondonia-360.png" alt="marca rondonia 360"></li>
            <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-movimento-ficha-limpa.png" alt="marca movimento ficha limpa"></li>
            <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-css.png" alt="marca css"></li>
          </ul>
          
        </div><!-- ITEM -->
        <div class="item">
          
              <ul class="carousel-clients-list">
                <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-noticias-acre.png" alt="marca noticias acre"></li>
                <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-rondonia-360.png" alt="marca rondonia 360"></li>
                <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-movimento-ficha-limpa.png" alt="marca movimento ficha limpa"></li>
                <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-css.png" alt="marca css"></li>
              </ul>

        </div><!-- END ITEM -->
        <div class="item">
          
              <ul class="carousel-clients-list">
                <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-noticias-acre.png" alt="marca noticias acre"></li>
                <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-rondonia-360.png" alt="marca rondonia 360"></li>
                <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-movimento-ficha-limpa.png" alt="marca movimento ficha limpa"></li>
                <li><img src="{{ bloginfo('template_url') }}/assets/imgs/marca-css.png" alt="marca css"></li>
              </ul>

        </div><!-- END ITEM -->
      </div><!-- END CAROUSEL-INNER -->
    </div><!-- END CONTAINER -->
  </div><!-- END CAROUSEL-BG -->

  <!-- Controls -->
    <a class="left carousel-control" href="#carousel-landing" role="button" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#carousel-landing" role="button" data-slide="next">›</a>
</div><!-- END CAROUSEL -->